{% from "macros.html" import render_table, render_table_horizontal, render_warlog with context %}

<!doctype html>
<html>
<head>
    <title>- Lineagent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='flag_g_02.png') }}">
</head>
<body>
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container level">
                <div class="level-left">
                    <div class="level-item">
                        <figure class='image is-64x64'>
                            <img src="{{ url_for('static', filename='flag_g_02.png') }}" alt="Logo">
                        </figure>
                    </div>
                    <div class="level-item">
                        <h1 class="title is-1">
                            Lineage<span><font color="gold">nt</font><span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "general.html" %}
    {% include "current_war.html" %}
    {% include "last_10.html" %}
    {% include "hall_of_flame.html" %}
</body>
</html>
