{% block current_war %}
<section class="hero is-link">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                Current War
            </h1>
            {{ render_table(war_info) }}
            </h1>
        </div>
    </div>
</section>
{% if war_state != "notInWar" %}
<section class="section">
    <div class="tile is-ancestor">
        <div class="tile is-vertical">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <p class="subtitle is-4">
                        Best Collectors
                    </p>
                    {{ render_table(current_best_collectors) }}
                </div>
            </div>
            {% if war_state == "warDay" %}
            <div class="tile is-parent">
                <div class="tile is-child">
                    <p class="subtitle is-4">
                        Best Fighters
                    </p>
                    {{ render_table(current_best_fighters) }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="tile is-parent">
            <div class="tile is-child">
                <p class="subtitle is-4">
                    Participating
                </p>
                {{ render_table(participating) }}
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child">
                <p class="subtitle is-4">
                    Not participating
                </p>
                {{ render_table(not_participating) }}
            </div>
        </div>
    </div>
</section>
{% else %}
</br>
{% endif %}
{% endblock %}
