{% block general %}
<section class="hero is-success">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                General
            </h1>
            {{ render_table(clan_info) }}
        </div>
    </div>
</section>
<section class="section">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <p class="subtitle is-4">
                        Top donators
                    </p>
                    {{ render_table(top_donators) }}
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child">
                    <p class="subtitle is-4">
                        Worst donators
                    </p>
                    {{ render_table(worst_donators) }}
                </div>
            </div>
{% if under_100.index | length <= 14 %}
        </div>
        <div class="tile is-parent is-vertical">
{% endif %}
            <div class="tile is-parent">
                <div class="tile is-child">
                    <p class="subtitle is-4">
                        Top missing
                    </p>
                    {{ render_table(top_missing) }}
                </div>
            </div>
{% if under_100.index | length > 14 %}
        </div>
        <div class="tile is-parent">
{% endif %}
            <div class="tile is-parent">
                <div class="tile is-child">
                    <p class="subtitle is-4">
                        Under 100
                    </p>
                    {{ render_table(under_100) }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
