{% block hall_of_flame %}
<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                Hall of Flame
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child">
                <p class="subtitle is-4">
                    Sacred board
                </p>
                <p class="subtitle is-5">
                    minimum 7 battles & no misses
                </p>
                {{ render_table(sacred_board) }}
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child">
                <p class="subtitle is-4">
                    Best players
                </p>
                <p class="subtitle is-5">
                    based on trophy count
                </p>
                {{ render_table(best_players) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
