{% block last_10 %}
<section class="hero is-link">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                Last 10 Wars
            </h1>
        </div>
    </div>
</section>
<section class="hero is-info">
    <div class="hero-body">
        <p class="subtitle is-3">
            War Log
        </p>
        {{ render_warlog(war_log) }}
    </div>
</section>
<section class="section">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical">
            <div class="tile">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <p class="subtitle is-4">
                            Top collectors
                        </p>
                        {{ render_table(top_collectors) }}
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <p class="subtitle is-4">
                            Top fighters
                        </p>
                        {{ render_table(top_fighters) }}
                    </div>
                </div>
            </div>
            <div class="tile">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <p class="subtitle is-4">
                            Most active players
                        </p>
                        {{ render_table(most_active) }}
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <p class="subtitle is-4">
                            Least active players
                        </p>
                        {{ render_table(least_active) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-parent is-vertical">
            <div class="tile is-child">
                <p class="subtitle is-4">
                    War day sabotages
                </p>
                {{ render_table(war_day_sabotages) }}
            </div>
            <div class="tile is-child">
                <p class="subtitle is-4">
                    Collection day sabotages
                </p>
                {{ render_table(collection_day_sabotages) }}
            </div>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
        </div>
    </div>
</section>
{% endblock %}
