{% macro render_table(data) %}
<div class="table-container box">
    <table class="table is-striped is-fullwidth is-size-7-mobile">
        <thead>
            <tr>
            {% for col in data.columns %}
                <th class='has-text-centered'>{{ col }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in data.itertuples() %}
            <tr>
            {% for item in row[1:] %}
                <th class='has-text-centered'>{{ item }}</th>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro render_table_horizontal(data, bgcolor, fgcolor) %}
<table class="table {% if bgcolor == "" -%}is-striped {% endif -%}is-narrowed is-size-7-mobile">
    <tbody>
    {% for row in data.itertuples() %}
        {% for what, val in data.columns | zip(row[1:]) %}
        <tr{%- if bgcolor != "" %} bgcolor="{{ bgcolor }}"{%- endif -%}>
        {% if fgcolor != "" %}
            <th class='has-text-centered'><font color="{{ fgcolor }}">{{ what }}</font></th>
            <th class='has-text-centered'><font color="{{ fgcolor }}">{{ val }}</font></th>
        {% else %}
            <th class='has-text-centered'>{{ what }}</th>
            <th class='has-text-centered'>{{ val }}</th>
        {% endif %}
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro render_warlog(data) %}
<div class="table-container box">
    <table class="table is-fullwidth is-size-7-mobile">
        <thead>
            <tr>
                <th> No. </th>
            {% for col in data.columns %}
                <th class='has-text-centered'>{{ col }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in data.itertuples() %}
            <tr bgcolor={%- if row[4] is lt 0 -%}"#ff3a33"{%- else -%}"#7aff6b"{%- endif -%}>
            {% for item in row %}
                <th class='has-text-centered'>{{ item }}</th>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            {% set trophy_delta = data['Trophies'].sum() %}
            <tr>
                <th></th>
                <th class='has-text-centered'>Trophy delta: {% if trophy_delta is ge 0 -%}+{%- endif -%}{{ trophy_delta }}</th>
            </tr>
        </tfoot>
    </table>
</div>
{% endmacro %}
